.container{
    background-color: rgb(216, 235, 243);
    border-radius: 20px;
}
.nav{
    background-color: rgb(139, 195, 227);
    color: rgb(0, 0, 0);
    font-weight: 600;
    height: 75px;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    border-radius: 12px;
}
.nav ul{
    display: flex;
    list-style-type: none;
    gap: 8rem;
}
.image img{
    border-radius: 67px;
    border-color: black;
}
.heading p{
    text-align: center;
}
.head{
    font-weight: 800;
    font-size: 45px;
    color: rgb(5, 71, 104);
}
.Head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 90px;
  padding-right: 90px;
}
.another{
    background-color: rgb(239, 242, 244);
    border-radius: 20px;
}
.headings{
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    color: rgb(5, 71, 104);
}
h2{
    text-align: center;
}
p{
    justify-content: center;
}
.containers{
    background-color: azure;
    width: 325px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 9px;
    overflow: hidden;
    margin: 3px;
    

}
.inner img{
    border-radius: 12px;
}
.containerss{
    display: flex;
    background-color: rgb(210, 247, 252);
    padding-left: 15px;
    border-radius: 20px;
}